{% extends "base1.html" %}
{% load static %}
{% block title %}
<title> Category Products  </title>
{% endblock %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="keywords" content="Downy Shoes Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
	</script>
<style>

      .b{position: absolute ; top: 6%; left: 92.5%;  color: #fff;border: none;text-align: center;background: none;width: 80px;height: 50px;background: rgba(27, 25, 25, 0.27);border: 1px solid rgba(27, 25, 25, 0.27)}
</style>

	<!-- //custom-theme -->
	<link href="{%static ' css/bootstrap.css ' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{%static ' css/shop.css ' %}" type="text/css" media="screen" property="" />
	<link href="{%static ' css/style7.css ' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Owl-carousel-CSS -->
	<link rel="stylesheet" type="text/css" href="{%static ' css/jquery-ui1.css ' %}">
	<link href="{%static ' css/style.css ' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="{%static ' css/font-awesome.css ' %}" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">



	<!-- banner -->
<div class="banner_top innerpage" id="home">
		<div class="wrapper_top_w3layouts">
			<div class="header_agileits">
				<div class="logo inner_page_log">
					<h1><a class="navbar-brand" href="index.html"><span>Downy</span> <i>Shoes</i></a></h1>


				</div>

				<div class="overlay overlay-contentpush">
					<button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

					<nav>
						<ul>
							<li><a  href="{% url 'homepage'%}" class="active">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="404.html">Team</a></li>
							<li><a href="shop.html">Shop Now</a></li>
							<li><a href="contact.html">Contact</a></li>
								<li class='sub-menu'><a href='#'>Categories<div class='fa fa-caret-down right'></div></a>
                             	<ul>
										{% fetch_categories %}

								</ul>
                       		</li>
						</ul>
					</nav>
				</div>
				<div class="mobile-nav-button">
					<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
				</div>

				<!-- cart details -->
				<div class="top_nav_right">
					<div class="shoecart shoecart2 cart cart box_1">
						<form action="#" method="post" class="last">
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="display" value="1">
							<button class="top_shoe_cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- //cart details -->
		<!-- search -->
		<div class="search_w3ls_agileinfo">
			<div class="cd-main-header">
				<ul class="cd-header-buttons">
					<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
				</ul>
			</div>
			<div id="cd-search" class="cd-search">
				<form action="#" method="post">
					<input name="Search" type="search" placeholder="Click enter after typing...">
				</form>
			</div>
		</div>

<!--	signinbutton==========================-->

				<a href= "{% url 'signup'  %}">
												<button type="submit"  class="b">Sign up</button>
										</a>
		<!-- //search -->
		<div class="clearfix"></div>
		<!-- /banner_inner -->
		<div class="services-breadcrumb_w3ls_agileinfo">
			<div class="inner_breadcrumb_agileits_w3">

				<ul class="short">
					<li><a href="index.html">Home</a><i>|</i></li>
					<li>Shop</li>
				</ul>
			</div>
		</div>
		<!-- //banner_inner -->
	</div>


<br><br><h5>{{shoe_details_data.Category_name}}</h5>
	<!-- //banner -->
	<!-- top Products -->
  {% if productsdata %}
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">


<!--			</div>-->
			<!-- //product left -->
			<!-- product right -->
			<div class="left-ads-display col-md-12">




					<!-- product-sec1 -->

					<div class="product-sec1">
						<!--/mens-->
                         {% for data in productsdata %}

						<div class="col-md-3 product-men">

							<div class="product-shoe-info shoe">




								<div class="  men-pro-item">

									<div class="men-thumb-item">
										{% if data.product_pic %}
										<img src="{{ data.product_pic.url }}" alt="">
										{% else %}
										<img src="{% static 'images/default.jpg' %}" alt="" class="pro-image-front">

										{% endif %}
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="{% url 'shoedetails' data.id %}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">New</span>
									</div>
									<div class="item-info-product">
										<h4>
											<a href="{%  url 'shoedetails' data.id %}">{{data.Product_name}}</a>
										</h4>
										<div class="info-product-price">
											<div class="grid_meta">
												<div class="product_price">
													<div class="grid-price ">
														<span class="money">{{ data.price}}</span>
													</div>
												</div>

												<ul class="stars">
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>

											<div class="shoe single-item hvr-outline-out">

												<form action="{% url 'addtoshoppingcart' %}" method="post">
													{% csrf_token %}
													<input type="hidden" name="item_id" value=" {{data.id}}">
													<input type="hidden" name="amount" value="{{data.price}}">
													<input type="hidden" name="quantity" value="1">
													<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>


												</form>


											</div>

										</div>


										<div class="clearfix"></div>
									</div>

								</div>


							</div>

						</div>
                        {% endfor %}
					</div>


				{% else %}
					<br>
					<h4 align="center"> No products available</h4>
					<br>
	            {% endif %}









			</div>
		</div>

		<div class="clearfix"> </div>
	</div>












{% endblock %}
