{% extends "bn.html" %}
{% load static %}
{% block title %}
<title> Checkout </title>
{% endblock %}
{% block content %}



<style type="text/css">
    #form input
    {
       width:250px;
    }
</style>

 <div class="page-head_agile_info_w3l">

			<div class="container">
       <div class="col-md-8">
           <h3> Checkout</h3><br><br>
           		<h4>Add a new Details</h4><br>
        <br>
            <form action="{% url 'finalorder' %}" method="post" >
       {% csrf_token %}
                <label>Name :</label>
                 <input type="text"  name="name" required="" placeholder="Enter your full name"  class="form-control,control-label">
               <br><br>
                 <label>Phone :</label>
                   <input type="number"  name="phone" required="" placeholder="Enter phone no." class="form-control,control-label">
               <br><br>
                 <label>Pincode :</label>
                   <input type="number" name="pincode" required="" placeholder="Enter your pincode" class="form-control,control-label">
               <br><br>
                 <label>Address:</label>
                <textarea rows="5"    name="address"  required="" placeholder="Enter your address"  class="form-control"></textarea>
               <br><br>
                 <label>City:</label>
                   <input type="text" name="city" required="" placeholder="Enter city name"  class="form-control,control-label">
               <br><br>
                 <label>State :</label>
                   <input type="text" name="state" required="" placeholder="Enter state name"  class="form-control,control-label">
               <br><br>
                 <label>Payment mode :</label>
                   <select  name="paymentmode" required="" class="form-control,control-label">
                            <option > Choose Payment Mode</option>
                         <option value="cod"> Cash on delivery</option>
						<option value="gpay">Google pay on 123 </option>
                   </select>
               <br><br>

                     <input type="submit" name="submit" value="Checkout" class="btn btn-success">  <br><br>
            </form>
       </div>

						{% if messages %}
						<ul class="messages">
							<li> {{messages}}</li>
						</ul>
						{% endif %}


                </div>
     </div>

{% endblock %}