{% extends "bn.html" %}
{% load static %}
{% block title %}
<title>Order History</title>
{% endblock %}
{% block content %}

          <div class="container">
           <br>
           <h2>Order History</h2>
            {% if ordersdata %}
           <br>

           <table id="t" width="100%" class="table table-primary table-hover table-bordered border-dark, js-serial">


               <tr bgcolor="black"  style="color:white">


                   <th>Order Date</th>
                   <th> Order No. </th>
                   <th>  Name </th>
                   <th> Address</th>
                   <th> City</th>
                   <th> State</th>
                   <th> Phone</th>
                   <th> Price</th>
                   <th> Status</th>
               </tr>

               {% for data in ordersdata %}
               <tr>

                   <td>{{ data.order_date}}</td>
                   <td> <a href="{% url 'showorderdetails' data.id %}">{{data.id}}</a></td>
                   <td>{{data.name}}</td>
                   <td>{{data.address}}</td>
                   <td>{{data.city}}</td>
                   <td>{{data.state}}</td>
                   <td>{{data.phone}}</td>
                   <td>{{data.grandtotal}}</td>
                   <td>{{data.order_status}}</td>
               </tr>

               {% endfor %}



                        <tr><td><br></td></tr>


           </table>
           {% else %}
           <br>
           <h4>No orders available </h4>
           <br>
           {% endif %}
       </div>
{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script>
    function addRowCount(tableAttr) {
      $(tableAttr).each(function(){
        $('th:first-child, thead td:first-child', this).each(function(){
          var tag = $(this).prop('tagName');
          $(this).before('<'+tag+'> </'+tag+'>');
        });
        $('td:first-child', this).each(function(i){
          $(this).before('<td>'+(i+1)+'</td>');
        });
      });
}

addRowCount('.js-serial');
</script>
