{% extends "bn.html" %}
{% load static %}
{% block title %}
<title> Sign in </title>
{% endblock %}
{% block content %}




<style type="text/css">
    #form input
    {
       width:200px;
    }

</style>

         <div class="page-head_agile_info_w3l">

			<div class="container" >
                <div class="col-md-12">
                    <br><br>
                    <h3>Sign-in </h3>
                    <br><br>

                <div class="input-group w3_w3layouts">


                <form id="form" method="post" >

                    {% csrf_token %}
                {{ myform.as_p }}
                    <br><br>
                    <input type="submit" name="submit" class="btn btn-primary" value="Sign-in">
                </form>
                    <br><br>
                  </div>

                {% if messages %}
                <ul class="message">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{message.tags}}"{% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
         </div>

{% endblock %}


