{% extends "bn.html" %}
{% load static %}
{% block title %}
<title> Sign up </title>
{% endblock %}
{% block content %}




<style type="text/css">
    #form input
    {
       width:250px;
    }

</style>

         <div class="page-head_agile_info_w3l">

			<div class="container">
                <div class="col-md-8">
                 <br><br>
                    <h1 style="font-family:  Lucida Bright"> Sign-up </h1>
                    <br><br>
               <div class="form-group">
                <form id="form" method="post"    >
                    {% csrf_token %}
                {{ form.as_p }}
                    <br><br>
                    <input style=" background:black ; color:white"  type="submit" name="submit" value="Sign-up" class="btn btn-primary" >
                </form>
                   <br>
                     {% if messages %}
                <ul  style="font-size:22px" class="message">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                    <br><br><br>
                  </div><br><br>


                {% endif %}
            </div>
         </div>
         </div>

{% endblock %}


