{% extends "bn.html" %}
{% load static %}
{% block title %}
<title> Order </title>
{% endblock %}
{% block content %}

            <div class="banner-bottom-w3-agileits">
                <div class="container">
                    <div class="col-md-12">
                         <br><br><h4  style="font-family:cursive" align="center"> YO!  {{user}} , Your Order is Successful.  {{orderno}}</h4><br><br>
                            {% if error %}
                                   <h4 align="center">{{ error }}</h4>
                            {% else %}
                                  <h4 style="font-family:cursive" align= "center"> We have sent a confirmation  email to you. </h4>
                            {% endif %} <br><br><br><br>
                    </div>

                </div>
            </div>


{% endblock %}