{% extends "bn.html" %}
{% load static %}
{% block title %}
<title> Profile </title>
{% endblock %}
{% block content %}

<style type="text/css">
    #form input
    {
       width:200px;
    }

</style>



<div class="page-head_agile_info_w3l">

			<div class="container" >
                <div class="col-md-12">
                    <br><br>
                    <h3> Update Profile</h3>
                    <br><br>

                <div class="input-group w3_w3layouts">


                <form id="form" method="post" >

                    {% csrf_token %}
                {{ form.as_p }}
                    <br><br>
                    <input type="submit" name="submit" class="btn btn-primary" value="Update">
                </form>
                    <br><br>
                  </div>

                {% if messages %}
                <ul class="message">

                    <li> {{messages}}</li>

                </ul>
                {% endif %}
            </div>
         </div>

       </div>








{% endblock %}